.hero-main{
    width: 100vw;
}

.top-image-side{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 78px;
}

.know-more{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 55%;
    padding: 80px;
    align-items: flex-start;
}

.know-more>p:nth-child(1){
    font-size: 40px;
    font-weight: bold;
    color: #3e4041;
    letter-spacing: 0.6px;
}

.know-more span{
    display: block;
    font-weight: 500;
    color: #f78077;
}

.know-more>p:nth-child(2){
    font-size: 20px;
    font-weight: 500;
    color: #f78077;
}
.know-more>button{
    background-color: #00a5ec;
    color: white;
    border: none;
    padding: 12px 52px;
    border-radius: 4px;
    font-size: 1.2vw;
    cursor: pointer;
}
.know-more>button:hover{
    filter: brightness(0.9);
}

.image-side{
    width: 45%;
}

.image-side>img{
    width: 100%;
    height: 100%;
}


.four-company{
    display: flex;
    width: 100vw;
    justify-content: space-around;
    margin: 30px 0;
    padding: 0 8vw;
}

.four-company>div{
    width: 11%;
}

.four-company>div>img{
    width: 100%;
}