.certification {
    max-width: 1280px;
    margin: auto;
    display: flex;
}

.certification-left {
    width: 50%;
    padding: 10px 50px;
}

.certification-left>p {
    color: rgba(10, 45, 71, .9294117647058824);
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 80px;
    text-align: center;
}

.certification-down {
    font-weight: 500;
}

.certification-down>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.certification-down>div>img {
    margin-left: 55px
}

.certification-down>div>p {
    width: 50%;
    text-align: center;
    color: rgba(72, 55, 55, .9294117647058824);
    margin-right: 25px;
}

.certification-right {
    width: 50%;
    padding: 10px 50px 50px;
    background: rgba(244, 163, 76, .9294117647058824);
}

.certification-right>p:nth-child(1) {
    color: rgba(10, 45, 71, .9294117647058824);
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.certification-right>p:nth-child(2) {
    color: hsla(0, 0%, 100%, .9294117647058824);
    text-align: center;
}

.certification-right>div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 0 40px;
}

.certification-right>div>img {
    width: 100%;
}

/* ****************** RESPONSIVE ************************ */

@media screen and (max-width: 1024px) {
    .certification-left{
        padding: 10px 20px;
    }

    .certification-left>p{
        margin-top: 20px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 768px) {
    .certification{
        flex-direction: column;
    }
    .certification-left{
        width: 100%;
        padding: 10px 50px;
        padding-bottom: 80px;
    }

    .certification-left>p{
        margin-top: 50px;
        margin-bottom: 80px;
    }

    .certification-right{
        width: 100%;
        padding: 0 0 50px;
    }
}

@media screen and (max-width: 480px) {
    .certification-left{
        padding: 10px;
        padding-bottom: 80px;
    }
}