

.end-compet{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 1rem;
    box-sizing: border-box;
    min-height: 22rem;
    max-width: 1147px;
    margin: 3rem auto;
    border-top: 0.5px solid #c2c2c2;
    border-bottom: 0.5px solid #c2c2c2;
    margin-bottom: 0;
}

.end-compet>h5{
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 48px;
}

.end-compet-main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
}

.end-compet-main>img{
    width: 16%;
    margin-right: 2rem;
}

.end-compet-right{
    display: flex;
    width: 70%;
    flex-wrap: wrap;
}

.end-right-box{
    height: 90px;
    width: 43%;
    margin: 1rem 1.25rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    border-radius: 5px;
}

.end-right-box>img{
    width: 20%;
    margin-right: 1rem;
    height: 100%;
}

.end-right-box>h5{
    width: 70%;
    font-size: .85rem;
    display: flex;
    justify-content: center;
}

.end-right-box:nth-child(1){
    border-bottom: 4px solid #df3897;
    border-right: 4px solid #df3897;
}

.end-right-box:nth-child(2){
    border-bottom: 4px solid #0398d3;
    border-right: 4px solid #0398d3;
}

.end-right-box:nth-child(3){
    border-bottom: 4px solid #7914a3;
    border-right: 4px solid #7914a3;
}

.end-right-box:nth-child(4){
    border-bottom: 4px solid #eb9a00;
    border-right: 4px solid #eb9a00;
}