.experts-main {
    display: flex;
    justify-content: center;
    background-color: #f7f7ff;
    padding: 120px 0;
}

.experts-box {
    max-width: 985px;
    display: flex;
    background-color: #f8f7fd;
    box-shadow: 0 0 30px lightgray;
    border-radius: 10px;
    padding: 40px 20px 50px;
}

.experts-images-side {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experts-heading {
    color: #424242;
    font-size: 28px;
    font-weight: 600;
}

.experts-heading+p {
    color: #858585;
    font-size: 16px;
    width: 70%;
    margin: 20px auto;
    text-align: center;
}

.experts-img {
    display: flex;
    justify-content: center;
}

.experts-img>img {
    width: 90%;
}

.experts-form-side {
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.experts-form-side>form>input,
.experts-form-side>form>textarea {
    background-color: #f5f2ff;
    border-radius: 5px;
    padding: 12px;
    font-size: 16px;
    width: 95%;

    border: 1px solid #d4d4d4;
    outline: none;
    transition: .3s linear;
    margin: 8px 0 20px;
}

.experts-form-side>form>button{
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: #f78077;
    border: none;
    width: 95%;
}

.experts-form-side>form>button:hover{
    box-shadow: 0 3px 3px lightgray;
}

/* *************************** RESPONSIVE *********************** */

@media screen and (max-width: 768px) {
    .experts-box{
        flex-direction: column;
        margin: 20px;
        align-items: center;
    }
    .experts-form-side{
        width: 100%;
    }
    .experts-images-side{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .experts-images-side>p:nth-child(2){
        width: 90%;
    }
}