@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');

.login-signup-main{
    background-image: url('https://s3.ap-south-1.amazonaws.com/www.prepbytes.com/images/blue-background.webp');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin-top: 76px;
    font-family: "Inter";
}

.login-signup-main-inner{
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 40px;
}

.login-signup-left{
    display: flex;
    padding-top: 100px;
    padding-bottom: 80px;
    width: 60%;
}

.login-signup-image{
    width: 75%;
}

.login-signup-left-box{
    width: 215px;
    background-color: white;
    margin-top: 40px;
    border-radius: 5px;
    padding-bottom: 8px;
    text-align: center;
    height: fit-content;
}

.login-signup-left-box>img{
    height: 75px;
    margin-bottom: -15px;
    margin-top: -35px;
}

.login-signup-left-box>div{
    display: flex;
    color: #423c3c;
    margin: 18px 8px;
    align-items: flex-end;
    justify-content: space-evenly;
}

.login-signup-left-box>div>img{
    height: 50px;
}

.login-signup-left-box>div>div>p:nth-child(1){
    font-size: 18px;
    font-weight: 600;
    margin-bottom: -5px;
    text-align: initial;
}
.login-signup-left-box>div>div>p:nth-child(2){
    font-size: 14px;
    font-family: "Inter";
}


/* *********************** LOGIN SIGNUP ********************* */

.login-signup-right{
    width: 35%;
    /* margin: 40px; */
    margin-top: 100px;
}

.login-signup-right-box{
    background-color: white;
    width: 100%;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 0 10px gray;
}

.login-signup-right-top-btn{
    width: 100%;
    display: flex;
    border-bottom: 0.5px solid #4b8ce8;
}

.login-signup-right-top-btn>a{
    text-decoration: none;
    width: 50%;
    text-align: center;
    color: #6b6f70;
    padding-bottom: 15px;
    font-size: 18px;
}

.btn-active{
    font-weight: 600;
    color: #4b8ce8;
    border-bottom: 2px solid #4b8ce8;
}