
.stairs-main {
    background-color: #f8fafa;
    padding: 80px 0 0;
    display: flex;
    width: 100vw;
}

.stairs-img-side {
    width: 50%;
}

.stairs-img-side>img {
    width: 80%;
}

.stairs-side {
    width: 50%;
}

.stairs-side>p {
    font-size: 35px;
    color: #424242;
    font-weight: 600;
}

.all-approach {
    width: 77%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 50px;
}

.approach>div>p {
    font-size: 18px;
    margin-bottom: 5px;
}

.approach {
    width: 52%;
}

.approach>div>div {
    display: flex;
    border-radius: 5px;
    width: 250px;
    padding: 17px 0;
    position: relative;
    padding-left: 40px;
    gap: 20px;
    box-shadow: 0 0 10px lightgray;
}

.approch-main {
    display: flex;
    align-items: flex-end;
}
/* ************************ STAIRS ONE **************************** */

.stairs-one-right>div>p {
    color: rgb(247, 128, 119);
}
.stairs-one-right>div>div {
    border: 1px dashed rgb(247, 128, 119);
    color: rgb(247, 128, 119);
    background-color: rgb(253, 240, 215);
}

.stairs-one-right>div>div>img {
    margin-left: -65px;
}

.stairs-one-left {
    margin-bottom: -50px;
}

/* ************************ STAIRS TWO **************************** */
.stairs-two {
    flex-direction: row-reverse;
}

.stairs-two-right>div {
    display: flex;
    flex-direction: column;
    float: right;
    width: min-content;
}

.stairs-two-right>div>p {
    color: rgb(253, 205, 6);
}

.stairs-two-right>div>div {
    border: 1px dashed rgb(253, 205, 6);
    color: rgb(253, 205, 6);
    background-color: rgb(255, 249, 228);
}

.stairs-two-right>div>div>img {
    margin-left: -65px;
}

.stairs-two-left {
    margin-bottom: -20px;
}

/* ************************ STAIRS THREE **************************** */
.stairs-three-right>div>p {
    color: rgb(15, 181, 130);
}

.stairs-three-right>div>div {
    border: 1px dashed rgb(15, 181, 130);
    color: rgb(15, 181, 130);
    background-color: rgb(228, 246, 241);
}

.stairs-three-right>div>div>img {
    margin-left: -65px;
}

.stairs-three-left {
    margin-bottom: -50px;
}

/* ************************ STAIRS FOUR **************************** */
.stairs-four {
    flex-direction: row-reverse;
}

.stairs-four-right>div {
    display: flex;
    flex-direction: column;
    float: right;
    width: max-content;
}

.stairs-four-right>div>p {
    color: rgb(240, 119, 149);
}

.stairs-four-right>div>div {
    border: 1px dashed rgb(240, 119, 149);
    color: rgb(240, 119, 149);
    background-color: rgb(255, 231, 237);
}

.stairs-four-right>div>div>img {
    margin-left: -65px;
}

.stairs-four-left {
    margin-bottom: -20px;
}