

.student-main{
    margin: 80px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.stud-heading{
    max-width: 1088px;
    margin: 0 auto;
    padding: 80px 0;
    min-height: 50px;
}

.stud-heading>p{
    color: #3e4041;
    font-size: 35px;
    font-weight: 600;
    width: 60%;
    line-height: 1.4;
    margin: auto auto 12px;
    padding: 1rem;
    text-align: center;
}

.stud-img{
    width: 100vw;
}

.stud-img>img{
    width: 100%;
}