.full-select-batch {
    z-index: 500;
    width: 100%;
    border: 0.5px solid #c2c2c2;
    background: #f7f7f7;
}

.full-batch-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0 0;
    max-width: 1366px;
}

.full-batch-main>h4 {
    width: 150px;
    margin-left: 10px;
    color: #707070;
}

.full-batch-mid {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.full-batch-mid>div>label {
    display: flex;
    align-items: flex-start;
    box-shadow: 0 0 20px rgb(0 0 0 / 16%);
    background: #fff 0 0 no-repeat padding-box;
    border-radius: 5px;
    padding: 8px 10px;
    margin: 5px;
    width: 225px;
    cursor: pointer;
}

.full-batch-mid>div {
    display: flex;
}

.full-batch-mid>div>label>input {
    width: 18px !important;
    height: 18px !important;
    position: relative;
    top: 5px;
}

.full-batch-mid>div>label>div {
    width: 100%;
    padding-top: 5px;
    padding-left: 10px;
}

.full-batch-mid>div>label>div>h5 {
    font-size: 17px;
    color: #707070;
}

.full-batch-mid>div>label>div>p {
    color: #f78077;
    font-size: 11px;
    margin-top: 10px;
}

.full-batch-last {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    position: relative;
    top: -5px;
    min-width: 225px;
}

.full-batch-last>p {
    font-size: 20px;
    color: #f78077;
    font-weight: 700;
    margin-bottom: 10px;
}

.full-batch-last>div {
    display: flex;
    /* justify-content: space-between; */
}

.full-batch-last>div>div:nth-child(1)>button {
    background: #f78077;
    border-radius: 6px;
    border: none;
    min-width: 130px;
    height: fit-content;
    padding: 8px 10px;
    color: #fffaf0;
    font-size: 15px;
    cursor: pointer;
}

.full-batch-last>div>div:nth-child(2)>button {
    background: #00a5ec;
    height: fit-content;
    border-radius: 6px;
    border: none;
    font-size: 15px;
    font-weight: 400;
    color: #f7f7f7;
    min-width: 100px;
    margin-left: 5%;
    cursor: pointer;
    padding: 8px 10px;
}

/* ******************** RESPONSIVE ********************* */

@media screen and (max-width: 900px) {
    .full-batch-main {
        padding: 15px 0;
    }

    .full-batch-mid {
        gap: 10px;
    }
}

@media screen and (max-width: 768px) {
    .full-batch-mid>div {
        flex-direction: column;
    }

    .full-batch-last {
        background-color: #fff;
        border-radius: 5px;
        padding: 15px;
        text-align: center;
        min-height: 80px;
        margin: 10px 0;
    }
}

@media screen and (max-width: 500px) {
    .full-batch-main {
        flex-direction: column
    }

    .full-batch-mid {
        flex-direction: column;
    }

    .full-batch-main>h4 {
        margin-left: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 20px;
    }

    .full-batch-last>div {
        position: fixed;
        z-index: 20;
        bottom: 0;
        width: 100%;
        background-color: white;
        padding: 10px 10px 10px 0;
        box-shadow: 0 0 10px rgb(0 0 0 / 16%);
    }

    .full-batch-last>div>div:nth-child(1) {
        width: 60%;
    }

    .full-batch-last>div>div:nth-child(1)>button {
        width: 90%;
        font-weight: 600;
        padding: 15px 10px;
    }

    .full-batch-last>div>div:nth-child(2) {
        width: 40%;
    }

    .full-batch-last>div>div:nth-child(2)>button {
        width: 90%;
        padding: 15px 10px;
    }

}