.pop-blogs-main {
    background: #fdf0d7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.pop-blogs-main>p {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 30px;
    color: #424242;
    font-weight: 600;
    font-size: 35px;
}

.pop-blogs-three-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1280px;
}

.pop-blogs-box {
    border-radius: 5px;
    box-shadow: 0 0 10px lightgray;
    width: 380px;
    flex: 0 0 22.4em;
    height: 480px;
    margin: 10px 10px 50px;
    background-color: white;
    position: relative;
}

.pop-blogs-box>img {
    width: 100%;
}

.pop-blogs-box>p {
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    padding: 15px 30px;
    text-align: left;
    line-height: 1.3;
}

.read-btn{
    display: flex;
    justify-content: center;
}

.read-btn>a{
    position: absolute;
    bottom: 25px;
    text-decoration: none;
    color: #00a5ec;
    font-weight: 600;
    font-size: 18px;
}

.pop-blogs-box:hover{
    box-shadow: 0 10px 10px gray;
}

@media screen and (max-width: 480px) {
    .pop-blogs-main>p{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 25px;
        padding-top: 50px;
    }
    .pop-blogs-box{
        max-width: 300px;
    }
}